.container {
  padding: 0;
}

.main {
  padding: 6rem 0;
  max-width: 720px;
  margin: 0 auto;
}

.main a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #0070f3;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: left;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #9A9A9A;
}

.social_links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.social_links > li {
  display: block;
  margin-right: 2rem;
}